.navbar
{
    background-color:rgba(222, 229, 230);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
}

.Navbar--lewaStrona{
    /* margin-right: auto; */
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    align-self: flex-start;
    font-family: 'Lato', sans-serif;
}
.logo{
    margin-right: 10px;
    height: 35px;
}

.zakladka
{
    padding: 8px;
    background-color:rgba(222, 229, 230);
    border-radius: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight:300;
    font-family: 'Lato', sans-serif;
    
}
.zakladka:hover
{
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 0 1px 0 #000;
}
